{% extends "main.html" %}

{% block main %}
<div class="tm-main">
    <!-- Home section -->
    <div class="tm-section-wrap">
        <section id="home" class="tm-section">
            <div class="jumbotron" style="background-color: white;">
                <h1 class="display-5" style="font-weight: 900;font: bold;">Welcome to The Blog</h1>
                <br/>
                <hr class="mb-5">
            </div>
            <div class="row tm-row-home">                            
                <div class="tm-col-home tm-col-home-l">                                
                    <!-- the post list subsection  -->
                    {% for post in posts%}
                        <br/>
                        <div class="media mb-4">
                            <img src="{{ url_for('static', filename='img/about-02.jpg') }}" style="width: 30%; margin-right: 25px;">
                            <div class="media-body">
                                <h2>
                                    <a href="{{ url_for('viewPost', post_id=post.id)}}" class="d-block mb-2 tm-post-link" style="font-weight: 900;">{{ post.title }}</a>
                                </h2>  
                                <h5>By: {{ post.writer.full_name }}</h5>
                                <small class="text-muted">{{ post.date.strftime('%Y %m %d') }}</small>
                                {% if current_user == post.writer%}
                                    <ul id="tm-main-nav">
                                        <li class="nav-item"  style="display: inline-block;">
                                            <a href="{{ url_for('editPost', post_id=post.id) }}" class="sm-2 md-1 lg-1 nav-link">
                                                <i class="far fa-edit"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item"  style="display: inline-block;">
                                            <a href="{{ url_for('deletePost', post_id=post.id) }}" class="sm-2 nav-link">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>                          
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>


    <!-- profile secction -->
    {% if current_user.is_authenticated%}
        <div class="tm-section-wrap">
            <section id="profile" class="tm-section">
                <br>
                <br>
                <hr class="mb-5">
                <br>
                <div class="profile wow fadeInUp" data-wow-delay="0.1s" id="about" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='img/about-02.jpg') }}" style="border-radius: 10%; margin-right: 15px; display: inline-block;">
                                
                            </div>
                            <div class="col-md-7">
                                <div class="about-content">
                                    <div class="section-header text-left">
                                        <h2>{{ current_user.full_name }}</h2>
                                    </div>
                                    {% if current_user.about_me %}
                                        <div class="about-text">
                                            <p>{{ current_user.about_me }}</p>
                                        </div>
                                    {% endif %}
                                    <div class="about-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida.</p>
                                    </div>
                                    
                                    <ul class="tm-contact-social">
                                        <li><a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="{{url_for('editProfile') }}" class="tm-social-link" style="margin-left: 500%;"><i class="fas fa-user-edit"></i><small>edit</small></a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endif %}



    <!-- About section -->
    <div class="tm-section-wrap">
        <section id="about" class="tm-section">
            <br>
                <br><br>
                <br>
            <h2 class="tm-text-primary">About The Blog CSS Template</h2>
            <hr class="mb-5">
            
            <div class="row tm-row-about">
                <div class="tm-col-about tm-col-about-l">
                    <p class="mb-4">
                If you want to support TemplateMo, you can contribute <a rel="sponsored" href="https://paypal.me/templatemo" target="_parent">a small donation via <strong>PayPal</strong></a>. This will be very helpful. Thank you. </p>
                    <p class="mb-4">
                        Aliquam ornare varius erat vel aliquet. Proin ac neque a tortor tristique semper eget eget sapien. Morbi vitae diam a odio lobortis mattis sed nec justo. 
                    </p>
                    <p class="mb-4">
                        Suspendisse sagittis tortor vel turpis aliquet, vitae molestie erat luctus.
                    </p>
                </div>
                <div class="tm-col-about tm-col-about-r">
                    <img src="{{ url_for('static', filename='img/img-about-01.jpg') }}" alt="Image" class="img-fluid mb-5 tm-img-about">
                    <p>
                        Duis fringilla eget purus luctus sodales. Sed auctor odio quis ligula dignissim efficitur vitae vitae quam.
                    </p>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            </div>
        </section>
    </div>

    {% endblock %}


                


                