<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upright</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-upright.css') }}">
<!--
    
TemplateMo 555 Upright

https://templatemo.com/tm-555-upright

-->
</head>
<body>
      
    <div class="container-fluid"> 
        <div class="row">
            <!-- Leftside bar -->
            <div id="tm-sidebar" class="tm-sidebar"> 
                <nav class="tm-nav">
                    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div>
                        <div class="tm-brand-box">
                            <h1 style="font-weight: 900;color: #666666;">The Blog</h1>
                        </div>                
                        <ul id="tm-main-nav">
                            <li class="nav-item">                                
                                <a href="{{ url_for('index') }}" class="nav-link current">
                                    <i class="fas fa-home nav-icon"></i>
                                    Home
                                </a>
                            </li>
                            {% if current_user.is_authenticated%}
                                <li class="nav-item">
                                    <a href="{{ url_for('index') }}" class="nav-link">
                                        <i class="fas fa-pen-alt nav-icon"></i>
                                        Profile
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{{ url_for('index') }}" class="nav-link">
                                    <i class="fas fa-user-friends nav-icon"></i>
                                    About
                                </a>
                            </li>
                            
                            {% if current_user.is_authenticated %}
                                <li class="nav-item"  style="display: inline-block;">
                                    <a href="{{ url_for('index') }}" class="sm-2 md-1 lg-1 nav-link">
                                        <i class="far fa-id-badge nav-icon"></i>
                                    </a>
                                </li>
                                <li class="nav-item"  style="display: inline-block;">
                                    <a href="{{ url_for('log_out') }}" class="sm-2 nav-link" >
                                        <i class="fas fa-sign-out-alt nav-icon"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item"  style="display: inline-block;">
                                    <a href="{{ url_for('signup') }}" class="sm-2 md-1 lg-1 nav-link">
                                        <i class="fas fa-user-plus nav-icon"></i>
                                    </a>
                                </li>
                                <li class="nav-item"  style="display: inline-block;">
                                    <a href="{{ url_for('login') }}" class="sm-2 nav-link" >
                                        <i class="fas fa-sign-in-alt nav-icon"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
            {% if current_user.is_authenticated %}
                <ul id="tm-main-nav">
                    <li class="nav-item">
                        <a href="{{ url_for('addPost') }}" class=" btn nav-item" style="background-color: white; padding: 10px 10px; border-radius: 5px; margin: 10px; position: fixed; top: 110px;right: 30px;z-index: 1;">
                            <i class="fas fa-plus-circle nav-link" style="color: #666666;">Add Post</i>
                            
                        </a>
                    </li>
                </ul>
            {% endif%}

            {% block main %}

            {% endblock %}


            <!-- Copyright -->                
                <div class="tm-section-wrap tm-copyright row">
                    <div class="col-12">
                        <div class="text-right">
                            Copyright 2020 Upright Company
                        </div> 
                    </div>
                </div>                 
            </div> <!-- .tm-main -->                      
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
    <script src="{{ url_for('static', filename = 'js/jquery-3.4.1.min.js') }}" ></script>
    <script src="{{ url_for('static', filename = 'js/jquery.singlePageNav.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parallax/parallax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/templatemo-script.js') }}"></script>
</body>
</html> 